// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



.profile-button {
    font-size: x-large;
    border: 0px;
    text-decoration: none;
}

.profile-button a{
    text-decoration: none;
}

.profile-button img{
    margin-right: 10px;
}

.like-button{
    background-color: blue;
    height: 30px;
    width: 60px;
    color: white;
    padding: 2px 6px;
    display: inline-block;
    border-radius: 4px;
}

.new-post {
    border-radius: 5px;
    border-color: black;
}

.new-post-buttons{
    margin-top: 5px;
}

.new-post-submit{
    width: 100%;
    margin-right: 10px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(16, 44, 226);
    color: #fff;
    border-radius: 5px;
}

.custom-file-upload input {
    display: none;
}

.post-image{
    height: 700px;
    width: fit-content;
}

